body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffcc33, #ff6699);
    overflow: hidden;
    margin: 0;
}

svg {
    width: 400px;
    height: 400px;
}

.shape {
    animation: changeColor 6s infinite, scaleUpDown 6s infinite, moveAround 6s infinite;
}

.circle {
    fill: #3498db;
    animation-delay: 0s;
}

.rect {
    fill: #e74c3c;
    animation-delay: 1s;
}

.cone {
    fill: #f1c40f;
    animation-delay: 2s;
}

.text {
    fill: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 24px;
    animation: fadeInOut 6s infinite;
}

@keyframes changeColor {

    0%,
    100% {
        fill: currentColor;
    }

    50% {
        fill: #ffffff;
    }
}

@keyframes scaleUpDown {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

@keyframes moveAround {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, -20px);
    }

    50% {
        transform: translate(40px, 0);
    }

    75% {
        transform: translate(20px, 20px);
    }
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}